footer.footer
  .footer__copyright
    span.footer__copyright-content
    |  &copy; Copyright 2010-2013. Altair. All rights reserved.
  .footer__social
    span.footer__social-description
    |  Follow Us:
    each val in['facebook', 'twitter', 'dribble']
      -var source = './img/' + val + '.png'
      a.footer__social-link(href='#')
        img(src=source alt=val)
    