doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Altair
    meta(content='Altair' name='description')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='ie=edge' http-equiv='x-ua-compatible')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='./css/style.css')
  body
    block header
      include header
    block content
    block footer
      include footer
    