* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

p {
  font-weight: 400;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}
